<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Driver View</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/flatpickr/flatpickr.min.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/vue-router/vue-router.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/flatpickr/flatpickr.min.js" defer></script>
  <script src="/js/driver/components.js" defer></script>
  <script src="/js/driver/app.router.js" defer></script>
  <script src="/js/driver/app.actions.js" defer></script>
  <script src="/js/driver/app.created.js" defer></script>
  <script src="/js/driver/app.data.js" defer></script>
  <script src="/js/driver/core.js" defer></script>
</head>
<body>
<div id="app">
  <router-view class="view" name="titlebar" v-bind:app="this"></router-view>
  <router-view class="view" name="submenu" v-bind:app="this"></router-view>
  <router-view class="view" name="main" v-bind:app="this"></router-view>
</div>
</body>
</html>
