<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mobile.css">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Minderwertig - My bookings</title>
</head>
<body>
<nav id="menu">
  <!-- Profile picture -->
  <img src="" alt="">

  <!-- Logo -->
  <img src="" alt="">

  <!-- Menu -->
  <img src="" alt="">
  <ul>
    <li></li>
  </ul>

  <!-- Menu logo -->
  <img src="" alt="">
</nav>

<!-- Submenu -->
<nav id="sub-menu">
  <p class="small">My bookings</p>
</nav>

<div class="card green">
  <div class="meta">
    <div class="time">
      <img src="" alt="">
      <p class="small">00:00</p>
    </div>
    <div class="time-left">
      <img src="" alt="">
      <p class="small">00:00</p>
    </div>
  </div>

  <h2>NAME</h2>
  <div class="trip">
    <img src="" alt="">
    <p class="small">FROM</p>
    <p class="small">TO</p>
  </div>

  <div class="btn-dual">
    <button class="red">Cancel</button>
    <button class="green">View</button>
  </div>
</div>

</body>
</html>
