<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mobile.css">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Minderwertig - Login</title>
  </head>
  <body>
    <img src="" alt="">
    <h2>LOREM IPSUM</h2>
    <a href="index.html"><button class="normal gray">Login with Facebook</button></a>
    <a href="index.html"><button class="normal green">Login with E-mail</button></a>
    <p class="small"><a href="index.html">Register with E-mail</a></p>
  </body>
</html>
