<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mobile.css">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Minderwertig - Menu</title>
</head>
<body>
<nav id="menu">
  <!-- Profile picture -->
  <img src="" alt="">

  <!-- Logo -->
  <img src="" alt="">

  <!-- Menu -->
  <img src="" alt="">
  <ul>
    <li></li>
  </ul>

  <!-- Menu logo -->
  <img src="" alt="">
</nav>

<!-- Submenu -->
<nav id="sub-menu">
  <p class="small">Menu</p>
</nav>

<img src="">

<h2>Menu</h2>
<h1>Order trip</h1>
<h1>My bookings</h1>
<h1>Log out</h1>

</body>
</html>
