<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mobile.css">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Minderwertig - Order</title>
</head>
<body>
<nav id="menu">
  <!-- Profile picture -->
  <img src="" alt="">

  <!-- Logo -->
  <img src="" alt="">

  <!-- Menu -->
  <img src="" alt="">
  <ul>
    <li></li>
  </ul>

  <!-- Menu logo -->
  <img src="" alt="">
</nav>

<!-- Submenu -->
<nav id="sub-menu">
  <img src="" alt="">
  <p class="small">Order trip (3/3)</p>
</nav>

<div class="car">
  <h1>Taxi found!</h1>
  <img src="" alt="">
  <label for="car-type"></label>
  <input type="text" name="car-type" value="" disabled>
  <label for="arrival"></label>
  <input type="text" name="arrival" value="" disabled>
  <label for="duration"></label>
  <input type="text" name="duration" value="" disabled>

  <div class="map"></div>
  <label for="from"></label>
  <input type="text" name="from" value="" disabled>
  <label for="to"></label>
  <input type="text" name="to" value="" disabled>
  <label for="date"></label>
  <input type="text" name="date" value="" disabled>
  <label for="price"></label>
  <input type="text" name="price" value="" disabled>

  <button class="normal green">Confirm order</button>
</div>

</body>
</html>
