<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mobile.css">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Minderwertig - Order</title>
</head>
<body>
<nav id="menu">
  <!-- Profile picture -->
  <img src="" alt="">

  <!-- Logo -->
  <img src="" alt="">

  <!-- Menu -->
  <img src="" alt="">
  <ul>
    <li></li>
  </ul>

  <!-- Menu logo -->
  <img src="" alt="">
</nav>

<!-- Submenu -->
<nav id="sub-menu">
  <p class="small">Order trip (2/3)</p>
</nav>

<img src="">

<h1>Searching for trip</h1>
<h2>This could take several minutes...</h2>

<button class="orange">Cancel</button>

</body>
</html>
