<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dispatcher View</title>
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <script src="/vue/vue.js" defer></script>
  <script src="/vue-router/vue-router.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/js/common/mwdate.js" defer></script>
  <script src="/js/dispatcher/components.js" defer></script>
  <script src="/js/dispatcher/app.router.js" defer></script>
  <script src="/js/dispatcher/app.actions.js" defer></script>
  <script src="/js/dispatcher/app.created.js" defer></script>
  <script src="/js/dispatcher/app.data.js" defer></script>
  <script src="/js/dispatcher/core.js" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqVJlxUAYXCnEC95KflndVcRci-OfDlvY"></script>
</head>
<body>
<div id="app">
  <div class="panel-view-v">
    <router-view class="view" name="menu" v-bind:app="this"></router-view>
    <router-view class="view" name="list" v-bind:app="this"></router-view>
  </div>
  <router-view class="view" name="myMap" v-bind:app="this"></router-view>
</div>
</body>
</html>
