<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>USE A DESCRIPTIVE TITLE</title>
</head>
<body>

<!-- Menu -->
<nav id="menu">
  <!-- Profile picture -->
  <img src="" alt="">

  <!-- Logo -->
  <img src="" alt="">

  <!-- Menu -->
  <img src="" alt="">
  <ul>
    <li></li>
  </ul>

  <!-- Menu logo -->
  <img src="" alt="">
</nav>

<!-- Submenu -->
<nav id="sub-menu">
  <img src="" alt="">
  <p class="small">CURRENT PAGE</p>
  <img src="" alt="">
</nav>

<!-- Buttons -->
<button class="normal gray">USE A DESCRIPTIVE TEXT</button>
<button class="normal green">USE A DESCRIPTIVE TEXT</button>
<button class="normal orange">USE A DESCRIPTIVE TEXT</button>
<button class="normal red">USE A DESCRIPTIVE TEXT</button>

<!-- Dual button -->
<div class="btn-dual">
  <button class="red">USE A DESCRIPTIVE TEXT</button>
  <button class="green">USE A DESCRIPTIVE TEXT</button>
</div>

<!-- Card -->
<div class="card green">
  <div class="meta">
    <div class="time">
      <img src="" alt="">
      <p class="small">00:00</p>
    </div>
    <div class="time-left">
      <img src="" alt="">
      <p class="small">00:00</p>
    </div>
  </div>

  <h2>NAME</h2>
  <div class="trip">
    <img src="" alt="">
    <p class="small">FROM</p>
    <p class="small">TO</p>
  </div>
</div>

<!-- Overlay card -->
<div class="card-overlay">
  <img src="" alt="">
  <div class="time">
    <img src="" alt="">
    <p class="small">00:00</p>
  </div>
  <h2>NAME</h2>
  <div class="trip">
    <img src="" alt="">
    <p class="small">FROM</p>
    <p class="small">TO</p>
  </div>
  <div class="btn-dual">
    <button class="red">USE A DESCRIPTIVE TEXT</button>
    <button class="green">USE A DESCRIPTIVE TEXT</button>
  </div>
</div>

</body>
</html>
